/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --header-title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --shadow-color: #FF8DCB;
  --background-color: #FF8DCB;

  --button-text-color: #353430;
  --hover-color: rgb(50 49 45 / 40%);
  --button-outline-color: #353430;

  --main-why-color: #353430;
  --main-answer-color: #353430;
  --text-color: #353430;

  --background-img: url(../images/cover-image-light.png);
  --background-clr: #FFF1F7;
  --REC: none;

  @media(min-width: 1024px) {
    --shadow-color: #FF0070;
  }
}


@media (prefers-color-scheme: light) {
  :root {
    --header-title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --shadow-color: #FF8DCB;
    --background-color: #FF8DCB;

    --button-text-color: #353430;
    --hover-color: rgb(50 49 45 / 40%);
    --button-outline-color: #353430;
  
    --main-why-color: #353430;
    --main-answer-color: #353430;
    --text-color: #353430;
  
    --background-img: url(../images/cover-image-light.png);
    --background-clr: #FFF1F7;
    --REC: none;

    @media(min-width: 1024px) {
      --shadow-color: #FF0070;
     }
    }
}